<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        span{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <header class="alert alert-dark"> 
        <span>establishment/</span>
    </header>
    <ul>
    {{#each establishments}}
        <ol><a href="/establishment/{{this.establishment_id}}">{{this.establishment_name}}</a></ol>
    {{/each}}
    </ul>
</body>
</html>